
.header {
	background: #f1f1f1;
	width: 100%;
	positiion:fixed;
	width:100%;
	.wrapper {
		padding: 10px 0px;
		display: table;
		table-layout: fixed;
		max-width: 1170px;
		margin:auto;
	}
	.logo {
		display: table-cell;
		vertical-align: middle;
		img {
			display: inline-block;
			vertical-align: middle;
			width: 20px;
			height: 20px;
		}
		.logo-text {
			display: inline-block;
			vertical-align: top;
			margin:0px;
			margin-left: 10px;
		}
	}
	.nav {
		display: table-cell;
		vertical-align: middle;
		ul {
			padding: 0px;
			margin: 0px;
			text-align: right;
			li {
				display: inline-block;
				vertical-align: middle;
				a {
					padding: 10px 20px;
					display: block;
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
}